Desafios-NLP/2021-02-Sentimentos-Twitter/glove.twitter.27B.100d.txt
Desafios-NLP/2021-02-Sentimentos-Twitter/glove.6B.100d.txt.zip
Desafios-NLP/2021-02-Sentimentos-Twitter/glove.6B.100d.txt
Desafios-NLP/2021-02-Sentimentos-Twitter/glove twitter.zip
Desafios-NLP/2021-02-Sentimentos-Twitter/.ipynb_checkpoints/
~$*
Untitled*
Desafios-NLP/2021-02-Sentimentos-Twitter/glove.twitter.27B.200d.txt
*.hdf5
*-checkpoint.ipynb
*.zip
*.gz
*.tar
Desafios-NLP/2021-03-NER/NER-Data/*
*.tsv
*.spacy
*.json
Desafios-NLP/2021-03-NER/model/
Trabalhos-Curso/2021-03-BI-TW/dump_dw.sql
*.architect~
Trabalhos-Curso/2021-03-BI-TW/base-original/export_20210116.sql
Desafios-NLP/2021-03-NER/word_vec/glove.840B.300d.txt
Trabalhos-Curso/2021-05-DM/base/*.csv
Desafios-NLP/2021-03-NER/word_vec/biomed.model.syn1neg.npy
Desafios-NLP/2021-03-NER/word_vec/biomed.model.wv.vectors.npy
Desafios-NLP/2021-03-NER/word_vec/biomed_word2vec.txt
