Desafios-NLP/2021-02-Sentimentos-Twitter/glove.twitter.27B.100d.txt
Desafios-NLP/2021-02-Sentimentos-Twitter/glove.6B.100d.txt.zip
Desafios-NLP/2021-02-Sentimentos-Twitter/glove.6B.100d.txt
Desafios-NLP/2021-02-Sentimentos-Twitter/glove twitter.zip
Desafios-NLP/2021-02-Sentimentos-Twitter/.ipynb_checkpoints/
~$*
